In [11]:
!pip install ipython-autotime
%load_ext autotime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ipython-autotime
  Downloading ipython_autotime-0.3.1-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from ipython-autotime) (7.9.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (2.0.10)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 27.3 MB/s
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->ipython-autotime) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->ipython-autotime) (0.7.0)
Installing collected packages: jedi, ipython-autotime
Successfully installed ipython-autotime-0.3.1 jedi-0.18.2
time: 852 µs (started: 2022-12-07 11:13:52 +00:00)

In [12]:
import pandas as pd
import numpy as np

time: 1.01 ms (started: 2022-12-07 11:13:52 +00:00)

In [13]:
%cd /content/drive/My Drive/Assignment-2/
df = pd.read_csv("train.csv")
df = df.drop([df.columns[0]], axis = 1)
new_raw_data = pd.get_dummies(df)
new_raw_data

/content/drive/My Drive/Assignment-2

,policy_tenure,age_of_car,age_of_policyholder,population_density,make,airbags,displacement,cylinder,gear_box,turning_radius,...,is_power_steering_No,is_power_steering_Yes,is_driver_seat_height_adjustable_No,is_driver_seat_height_adjustable_Yes,is_day_night_rear_view_mirror_No,is_day_night_rear_view_mirror_Yes,is_ecw_No,is_ecw_Yes,is_speed_alert_No,is_speed_alert_Yes
0,0.515874,0.05,0.644231,4990,1,2,796,3,5,4.6,...,0,1,1,0,1,0,1,0,0,1
1,0.672619,0.02,0.375000,27003,1,2,796,3,5,4.6,...,0,1,1,0,1,0,1,0,0,1
2,0.841110,0.02,0.384615,4076,1,2,796,3,5,4.6,...,0,1,1,0,1,0,1,0,0,1
3,0.900277,0.11,0.432692,21622,1,2,1197,4,5,4.8,...,0,1,0,1,0,1,0,1,0,1
4,0.596403,0.11,0.634615,34738,2,2,999,3,5,5.0,...,0,1,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,0.355089,0.13,0.644231,8794,2,2,999,3,5,5.0,...,0,1,1,0,0,1,0,1,0,1
58588,1.199642,0.02,0.519231,7788,1,2,796,3,5,4.6,...,0,1,1,0,1,0,1,0,0,1
58589,1.162273,0.05,0.451923,34738,1,2,796,3,5,4.6,...,0,1,1,0,1,0,1,0,0,1
58590,1.236307,0.14,0.557692,8794,1,2,1197,4,5,4.8,...,0,1,0,1,0,1,0,1,0,1
58591,0.124429,0.02,0.442308,8794,3,6,1493,4,6,5.2,...,0,1,0,1,1,0,0,1,0,1

time: 715 ms (started: 2022-12-07 11:13:52 +00:00)

In [14]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(new_raw_data, test_size=.2, random_state=41)

X_train = train.drop(columns=['is_claim'])
y_train = train["is_claim"]
X_test = test.drop(columns=['is_claim'])
y_test = test["is_claim"]

time: 96.6 ms (started: 2022-12-07 11:13:53 +00:00)

# Random Forest Scikit-Learn Package

In [15]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Random Forest Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

time: 14.8 s (started: 2022-12-07 11:13:53 +00:00)

In [16]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9310521375543989
time: 10.6 ms (started: 2022-12-07 11:14:08 +00:00)

# K-Fold Cross Validation

In [17]:
kfolds_data = new_raw_data.drop(columns=['is_claim'])
kfolds_target = new_raw_data["is_claim"]

time: 48.9 ms (started: 2022-12-07 11:14:08 +00:00)

## k = 3

In [18]:
from sklearn.model_selection import cross_val_score

k3_result = cross_val_score(RandomForestClassifier(n_estimators=100), kfolds_data, kfolds_target, cv=3)
print(k3_result)
print(k3_result.mean())

[0.93093032 0.93174953 0.93195084]
0.9315435623853507
time: 33.1 s (started: 2022-12-07 11:14:08 +00:00)

## k = 5

In [19]:
k5_result = cross_val_score(RandomForestClassifier(n_estimators=100), kfolds_data, kfolds_target, cv=5)
print(k5_result)
print(k5_result.mean())

[0.9298575  0.93096681 0.93130227 0.93147295 0.92993685]
0.9307072738640993
time: 51.3 s (started: 2022-12-07 11:14:41 +00:00)

## k = 10

In [20]:
k10_result = cross_val_score(RandomForestClassifier(n_estimators=100), kfolds_data, kfolds_target, cv=10)
print(k10_result)
print(k10_result.mean())

[0.93174061 0.93054608 0.92899812 0.932241   0.93172896 0.93121693
 0.93189964 0.93104625 0.93104625 0.9291688 ]
0.9309632652894791
time: 1min 59s (started: 2022-12-07 11:15:32 +00:00)